.aboutme {
  padding-top: 44px;
}

.aboutme .introduce-header {
  width:100%;
  height: 417px;
  background: url('../../assets/blog-header-background.jpg') no-repeat;
  background-size: 100% 417px;

  text-align: center;
}

.aboutme .introduce-header .site-heading {
  width: 750px;
  height: 417px;
  margin: 0 auto;
  padding: 150px 0;
}

.aboutme .introduce-header .site-heading > h1 {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.aboutme .introduce-header .site-heading > div {
  font-size: 18px;
  color: #fff;
}

.aboutme .aboutme-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.aboutme .right-part {
  position: absolute;
  right: 0;
}

.aboutme .left-part {
  position: absolute;
  width: 750px;
  left: 60px;
}

.aboutme .left-part .older-post {
  position: absolute;
  right: 0;
  bottom: 200px;
  width: 180px;
  height: 56px;
  border: 1px solid #bfbfbf;
  border-radius: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 14px;
  font-weight: 800;
}

.aboutme .left-part .older-post:hover {
  color: #6495ED;
  border-color: #6495ED;
}

@media (min-width: 320px) and (max-width: 599px) {
  .aboutme .left-part {
    position: unset;
    width: 100%;
  }

  .aboutme .right-part {
    position: unset;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .aboutme .left-part .older-post {
    position: unset;
    width: 100%;
  }
}