.article-wrapper {
  margin-top: 40px;
}

.article-wrapper .article-table {
  width: 80%;
  margin: 0 auto;
}

.article-wrapper .article-table table {
  font-size: .8rem;
}

.article-wrapper .article-table .ant-table-thead > tr > th {
  color: rgba(0,0,0,.85);
  font-weight: 500;
  text-align: left;
  border-top: 1px solid #eceeef;
  border-bottom: none;
}

.article-wrapper .article-table .ant-table-tbody > tr > td {
  border-top: 1px solid #eceeef;
  border-bottom: none;
}

.article-wrapper .article-table table {
  border-bottom: 1px solid #eceeef;
}

.article-wrapper .article-table .ant-table-thead > tr > th:nth-child(1) {
  width: 30%;
}

.article-wrapper .article-table .ant-table-thead > tr > th:nth-child(2) {
  width: 20%;
}

.article-wrapper .article-table .ant-table-thead > tr > th:nth-child(3) {
  width: 20%;
}

.article-wrapper .article-table .ant-table-thead > tr > th:nth-child(4) {
  width: 15%;
}

.article-wrapper .article-table .ant-table-thead > tr > th:nth-child(5) {
  width: 15%;
}

@media (min-width:320px) and (max-width:599px) {
  .article-wrapper {
    margin-top: 80px;
  }

  .article-wrapper .article-table {
    width: 100%;
  }

  .article-wrapper .article-table .ant-table-thead > tr > th:nth-child(1) {
    width: 60%;
  }
  
  .article-wrapper .article-table .ant-table-thead > tr > th:nth-child(2) {
    width: 30%;
  }
  
  .article-wrapper .article-table .ant-table-thead > tr > th:nth-child(3) {
    width: 10%;
  }

  .article-wrapper .article-table .ant-table-tbody > tr > td:nth-child(3) {
    color: #4578f7;
  }

  .article-detail-drawer .ant-drawer-body > div > span {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2px 10px;
    font-weight: 500;
    color: #666;
  }

  .article-detail-drawer .ant-drawer-body > div > span > span {
    font-weight: 450;
    color: #333;
  }

  .article-detail-drawer .ant-drawer-body .title {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, .85);
    padding-bottom: 20px;
  }
}