.profile-wrapper {
  width: 220px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 20px;
}

.profile-wrapper .img {
  width: 175px;
  height: 175px;
  background-image: url('../../assets/me.jpg');
  background-size: 175px 175px;
  border-radius: 5px;
}

.profile-wrapper h5 {
  font-size: 14px;
  font-weight: 700;
  color: #ccc;
  margin: 10px 0 20px 0;
}

.profile-wrapper > p {
  font-size: 14px;
  color: #bfbfbf;
  margin: 30px 0;
}

.profile-wrapper .email {
  font-size: 14px;
  color: #bfbfbf;
  margin-bottom: 10px;
}

.profile-wrapper .contact-list > li {
  display: inline-block;
  height: 32px;
}

.profile-wrapper .contact-list > li svg {
  width: 32px;
  height: 32px;
  margin-right: 18px;
  color: #ccc;
}

.profile-wrapper .contact-list > li svg:hover {
  color: #6495ED;
}

.profile-wrapper .contact-list .leetcode-icon {
  margin-top:1px;
  width: 32px;
  height: 32px;
  background: url('../../assets/leetcode-normal.svg');
}

.profile-wrapper .contact-list .leetcode-icon:hover {
  background: url('../../assets/leetcode-active.svg');
}

@media (min-width:320px) and (max-width:599px) {
  .profile-wrapper {
    width:100%;
    margin-bottom: 100px;
  }

  .profile-wrapper .img {
    margin: 0 auto;
  }
}