.milestone-wrapper {
  width: 90%;
  margin: 0 auto;
}

.milestone-wrapper .card {
  position: relative;
  display: inline-block;
  width: 24%;
  height: 160px;
  margin-right: 1%;
  margin-bottom: 1%;
  background-color: #fff;
  padding: 1.2% 1.6%;
  box-shadow: 0 2px 2px 0 rgba(7,17,27,.1);
  cursor: pointer;
  box-sizing: border-box;
  vertical-align: top;
}

.milestone-wrapper .card .name {
  font-size: 1rem;
  color: #333;
}

.milestone-wrapper .card .porfolio {
  font-size: .8rem;
  color: #888;
  margin-top:3px;
}

.milestone-wrapper .card .date {
  position: absolute;
  right:15px;
  bottom: 15px;
  color: #333;
  font-size: 1rem;
  font-weight: 450;
}

.milestone-wrapper .card .tag {
  position: absolute;
  display: inline-block;
  bottom: 18px;
  color: #fdfdfd;
  padding: 2px 4px;
  border-radius: 2px;
}

@media (min-width: 320px) and (max-width: 599px) {
  .milestone-wrapper .card {
    width: 100%;
    padding: 5% 4%;
  }
}