.articlesetup {
  width: 92%;
  margin: 0 auto;
  margin-top: 130px;
}

.articlesetup .title-content {
  position: relative;
  height: 40px;
  width: 80%;
  margin: 0 auto;
}

.articlesetup .title-content .left {
  position: absolute;
  font-weight: 500;
  font-size: 25px;
  left: 0;
}

.articlesetup .title-content .right {
  position: absolute;
  right: 0;
  width: 30%;
}

.articlesetup .title-content .right .ant-input-search {
  width: 100%;
}

@media (min-width:320px) and (max-width:599px) {
  .articlesetup { 
    margin-top: 80px;
  }

  .articlesetup .title-content {
    width: 100%;
  }

  .articlesetup .title-content .left {
    position: static;
    margin-bottom: 20px;
  }

  .articlesetup .title-content .right {
    position: static;
    display: block;
    width: 100%;
  }

  .articlesetup .title-content .right .ant-input-search .ant-input {
   border-radius: 40px;
  }
}