.verify-wrapper {
  width: 72%;
  margin: 0 auto;
  padding: 120px 22px 60px
}

.verify-wrapper .left {
  width: 64%;
  padding-right: 40px;
}

.verify-wrapper .right {
  width: 36%;
}

.verify-wrapper .left > h1 {
  height: 65px;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  color: #111;
  margin-bottom: .2em;
}

.verify-wrapper .left .description1 {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  margin-bottom: -24px;
}

.verify-wrapper .left .description2 {
  font-size: 14px;
  line-height: 1.42861;
  font-weight: 400;
  margin-bottom: 0;
}

.verify-wrapper .left .ant-form {
  width: 360px;
}

.verify-wrapper .left .ant-input {
  height: 56px;
  padding-top: 24px;
}

.verify-wrapper .left .ant-form-item-label {
  top: 36px;
  z-index: 1;
  padding-left: 12px;
}

.verify-wrapper .left form label {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}

.verify-wrapper .left form button {
  width: 126px;
  height: 35px;
  margin-top: 36px;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  background-color: #0070c9;
  background: linear-gradient(#42a1ec,#0070c9);
  border: 1px solid #07c;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.verify-wrapper .left .ant-btn-primary[disabled] {
  background-color: #0070c9;
  background: linear-gradient(#42a1ec,#0070c9);
  border-color: #07c;
  color: #fff;
  cursor: default;
  opacity: .3;
}

.content-main {
  width: 653px;
  margin: 0 auto;
  padding: 120px 22px 60px;
  text-align: center;
}

.content-main .title {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: .004em;
  margin-bottom: 8px;
  color: #333;
}

.content-main .description {
  font-size: 17px;
  line-height: 1.125;
  font-weight: 400;
  letter-spacing: .004em;
  color: #333;
  margin-bottom: 20px;
}

.content-main .success-icon-wrap {
  margin-bottom: 26px;
}

.content-main .success-icon-wrap .anticon-check-circle svg {
  width: 80px;
  height: 80px;
  color: #00cc66;
}
.content-main .button-wrapper {
  height: 55px;
}

.content-main .button-wrapper .ant-btn {
  height: 35px;
  padding: 4px 15px;
  width: 126px;
  margin-top: 20px;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  background-color: #0070c9;
  background: linear-gradient(#42a1ec,#0070c9);
  border: 1px solid #07c;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 599px) {
  .verify-wrapper {
    width: 100%;
  }

  .verify-wrapper .left,
  .verify-wrapper .left .ant-form {
    width: 100%;
  }

  .verify-wrapper .left {
    padding-right: 0;
  }

  .verify-wrapper .left > h1 {
    font-size: 24px;
    height: 38px;
  }

  .verify-wrapper .left .description1 {
    margin-bottom: -18px;
  }

  .content-main {
    width: 100%;
    text-align: left;
  }

  .content-main .success-icon-wrap {
    display: none;
  }

  .content-main .button-wrapper {
    text-align: center;
  }

  .content-main .title {
    font-size: 24px;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: .009em;
    margin-bottom: 16px;
  }

  .content-main .description {
    letter-spacing: .004em;
    line-height: 1.3rem;
    font-size: 400;
  }
}