.preview-wrapper {
  margin-top: 20px;
  margin-bottom: 300px;
}

.preview-wrapper .card {
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}

.preview-wrapper .card .meta {
  color: #808080;
  font: 18px Lora,'Times New Roman',serif;
}

.preview-wrapper .card h3 {
  display: inline-block;
  color: #888;
  margin-bottom: 30px;
}

.preview-wrapper .card pre {
  text-indent: 20px;
  color: #a3a3a3;
  white-space: pre-wrap;
}

.preview-wrapper .card .tag {
  position: absolute;
  display: inline-block;
  color: #bfbfbf;
  padding: 0 10px 0 10px;
  border: 1px solid #bfbfbf;
  border-radius: 12px;
  margin-left: 50px;
  cursor: pointer;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  right: 50px;
  top: 40px;
}

.preview-wrapper .card .tag:hover {
  color: #6495ED;
  border-color: #6495ED;
}

@media (min-width: 320px) and (max-width: 599px) {
  .preview-wrapper {
    margin: 0;
  }

  .preview-wrapper .card .tag {
    position: unset;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .preview-wrapper .card h3 {
    display: block;
    margin-bottom: 10px;
  }
}