#header {
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 9999;
  width: 100%;
  height: 44px;
  /* border-bottom: 1px solid rgb(238, 238, 238); */
  background: #333;
}

#header > ul {
  width: 74%;
  display: inline-block;
  text-align: left;
}

#header > ul > li {
  display: inline-block;
  margin-left: 20px;
}

#header  > ul > li > a {
  line-height: 44px;
  color: #f5f5f7;
  opacity: .8;
  text-decoration: none;
  padding: 0 15px 0 5px;
  font-size: 14px;
  font-weight: 400;
}

#header .logo-wapper > .logo:hover,
#header  > ul > li > a:hover {
  opacity: 1;
}

#header .logo-wapper {
  width: 14%;
  height: 44px;
  position: absolute;
}

#header .logo-wapper > .logo {
  float: right;
  width:37px;
  height: 44px;
  line-height: 50px;
  margin-right: 30px;
  color: #f5f5f7;
  opacity: .8;
  cursor: pointer;
}

#header .logo-wapper > .logo svg {
  width: 20px;
  height: 20px;
}

#header .login {
  width: 37px;
  height: 44px;
  color: #f5f5f7;
  opacity: .8;
  cursor: pointer;
  line-height: 44px;
}

#header .login:hover {
  opacity: 1;
}

#header .login svg {
  width: 17px;
  height: 17px;
}

@media (min-width:320px) and (max-width:599px) {
  #header {
    height:48px;
    background-color: #1d1d1f;
  }

  #header .header-menu {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 1em;
    position: absolute;
    color: #ffffff;
    left:0;
  }

  #header .header-user {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 1em;
    position: absolute;
    color: #ffffff;
    right:0;
  }

  .nav-drawer .ant-drawer-content-wrapper {
    top: 48px;
  }

  .nav-drawer .ant-drawer-wrapper-body {
    background-color: #1d1d1f;
  }

  .nav-drawer .ant-drawer-body {
    padding: 45px 40px 8px;
  }

  .nav-drawer .ant-drawer-body ul li {
    height: 44px;
    border-bottom: 1px solid #424245;
    line-height: 44px;
  }

  .nav-drawer .ant-drawer-body ul li > a {
    display: block;
    color: #f5f5f7;
    opacity: .8;
  }
}