.login-wrapper {
  padding-top: 76px;
}

.login-header {
  width: 980px;
  height: 114px;
  line-height: 114px;
  margin: 0 auto;
  color: #111;
  font-size: 40px;
  font-weight: 600;
}

.login-wrapper .login-container {
  width: 980px;
  margin: 0 auto;
  margin-top: .8rem;
}

.login-wrapper .login-container > form {
  width: 410px;
}

.login-wrapper .login-container > form input {
  padding-top: 24px;
  height: 56px;
}

.login-wrapper .login-container > form .ant-input-suffix {
  display: none;
}

.login-wrapper .login-container > form .ant-input {
  height: 56px;
}

.login-wrapper .login-container > form label {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}

.login-wrapper .login-container > form button {
  width: 410px;
  height: 54px;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  background-color: #0070c9;
  background: linear-gradient(#42a1ec,#0070c9);
  border: 1px solid #07c;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  min-width: 30px;
  padding: 4px 15px;
  text-align: center;
  white-space: nowrap;
}

.login-wrapper .login-container .ant-form-item-label {
  top: 10px;
  z-index: 1;
  padding-left: 12px;
}

.login-wrapper .login-container .ant-form-item {
  height: 70px;
  margin-bottom: 0px;
}

.login-wrapper .login-container form .ant-form-item-control-wrapper {
  top: -30px;
}

.login-wrapper .login-container .sign-info {
  font-size: 14px;
  line-height: 1.42861;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 35px;
}

.login-wrapper .login-container .create,
.login-wrapper .login-container .forgot {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  color: #0070c9;
  padding-top: 7px;
  cursor: pointer;
}

.login-wrapper .login-container .forgot {
  padding-top: 12px;
}

/* .login-wrapper .login-container .create:hover,
.login-wrapper .login-container .forgot:hover {
  transform: translateZ(10px);
} */

@media (min-width: 320px) and (max-width: 599px) {
  .login-header,
  .login-wrapper .login-container {
    width: 92%;
    margin: 0 auto;
  }

  .login-wrapper .login-container > form,
  .login-wrapper .login-container > form button {
    width: 100%;
  }
}